.sidebar {
  background-color: var(--color-dark--1);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  transition: all 0.3s;
}

@media (max-width: 768px) {
  .sidebar {
    height: fit-content;
    overflow-y: scroll;
  }

  .collapsedSidebar {
    height: 12rem;
    overflow: hidden;
  }
}

@media (min-width: 768px) {
  .sidebar {
    width: 36rem;
    justify-content: flex-start;
  }
}

@media only screen and (max-width: 363px) {
  .sidebar {
    padding-top: 1.6rem;
  }
}
